{% extends ":layouts:base.html.twig" %}

{% block main_content %}
    {% if bookStock == 0 %}
        <span id="bookStock">Indisponible...</span>
    {% elseif bookStock == 1 %}
        <span id="bookStock">{{ bookStock }} dispo !</span>
    {% else %}
        <span id="bookStock">{{ bookStock }} dispos !</span>
    {% endif %}
{% endblock %}