{% extends "::emails/email.html.twig" %}

{% block body %}
<!-- <h1>Bonjour { { app.user.username }}</h1>
<p>Vous avez effectué une demande sur Tickets.com pour réinitialiser votre mot de passe.</p>
<p>Veuillez cliquer sur le lien ci-dessous pour créer un nouveau mot de passe :</p>
<a href="{ { path('mc_app_default_forgotpasswordtwo', {'email': email, 'token': token}) }}" title="Régénérer votre mot de passe">{ { path('mc_app_default_forgotpasswordtwo', {'email': email, 'token': token}) }}</a>
<p>Veuillez ne pas tenir compte de cet email si la requête n'émane pas de votre part.</p>
<p>Merci.</p> -->
{% endblock %}