{% extends ':layouts:base.html.twig' %}

{% block title %}Bdloc | Accueil{% endblock %}

{% block main_content %}
    {{ render(controller('BdlocAppBundle:CronJob:checkCartTiming')) }}
    <h1 class="center">La plateforme de location multi bandes dessinées</h1>
    <div id="fond"></div>
    <div id="presentation">
        <p>Accédez à une <span class="big">multitude de BDs</span> en quelques clics !</p>
        <p>BDloc vous permet de récupérer vos BDs préférées au point relais de votre choix pour 2 semaines.</p>
        <p><span class="offre">Offre inédite :</span> abonnement mensuel de 12€ ou annuel de 120€ pour une lecture illimitée.</p>
        <a href="{{ path('bdloc_app_user_register') }}" id="abo"><img src="{{ asset("img/appearances/abo1.png") }}" alt="s'abonner"/></a>
    </div>
{% endblock %}