{% extends ":layouts:account.html.twig" %}

{% block main_content %}
    <h1>Modifier mes informations de paiement</h1>
    {{ form(creditCardChangeForm, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}