{% extends ":layouts:account.html.twig" %}
{% block title %}Compte | BDLOC{% endblock %}

{% block main_content %}
    <h1>Mon compte</h1>
    
    <h2>Bienvenue dans la rubrique mon compte, dans cet espace vous pourrez gérer toutes les informations relatives à votre abonnement.</h2>
{% endblock %}
