{% extends ":layouts:account.html.twig" %}
{% block title %}Compte | Amende | BDLOC{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset("css/account.css") }}">
{% endblock %}

{% block main_content %}
    <h1>Régler amende</h1>
{% endblock %}