#header{
    background: #FF666A;
    overflow: hidden;
    padding: 50px;
    -webkit-border-bottom-left-radius: 100px;
    -moz-border-radius-bottomleft: 100px;
    border-bottom-left-radius: 100px;
}

#menuCompte {
    float: right;
    margin-bottom: 5px;
}

#menuCompte a {
    color: #000;
}

#menuCompte li {
    padding: 10px;
    margin-bottom: -5px;
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: #7586FF;
    background: #FF666A;
    /*-webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
}

#menuCompte .compteActive {
    color: #00f;
}



/*-------------------------- EDIT INFO -----------------------*/

#bdloc_appbundle_editinfo {
    padding-bottom: 50px;
}

#bdloc_appbundle_editinfo div label {
    display: inline-block;
    padding-right: 10px;
    padding-top: 12px;
    vertical-align: top;
    text-align: right;
    width: 180px;
}

#bdloc_appbundle_editinfo input[type="text"],
#bdloc_appbundle_editinfo input[type="email"],
#bdloc_appbundle_editinfo > div > div > div {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
    width: 250px;
}

#bdloc_appbundle_editinfo > div > div,
#bdloc_appbundle_editinfo ul {
    display: inline-block;
}

#bdloc_appbundle_editinfo ul {
    color: #f00;
    list-style: none;
}

#bdloc_appbundle_editinfo button[type="submit"] {
    margin: 5px 10px 5px 190px;
    padding: 5px;
}




/*-------------------------- EDIT PASSWORD -----------------------*/

#bdloc_appbundle_editpassword {
    padding-bottom: 50px;
}

#bdloc_appbundle_editpassword div label {
    display: inline-block;
    padding-right: 10px;
    padding-top: 12px;
    vertical-align: top;
    text-align: right;
    width: 180px;
}

#bdloc_appbundle_editpassword input[type="password"],
#bdloc_appbundle_editpassword > div > div > div {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
    width: 250px;
}

#bdloc_appbundle_editpassword > div > div,
#bdloc_appbundle_editpassword ul {
    display: inline-block;
}

#bdloc_appbundle_editpassword ul {
    color: #f00;
    list-style: none;
}

#bdloc_appbundle_editpassword button[type="submit"] {
    margin: 5px 10px 5px 190px;
    padding: 5px;
}












#allPaniers .paniers {
    overflow: hidden;
}

#allPaniers .panierContent {
    float: left;
    margin: 10px;
}

#allPaniers .panierContent .couvertureBDpanier {
    height: 125px;
    max-width: 100px;
    margin: auto;
}

#allPaniers .panierContent .titreBDpanier {
    text-align: center;
}