/*Container de la Sidebar*/
#sidebar {
    width: 11%; /*220px;*/
    /*float: left;*/
    margin-top: 10px;
    margin-right: 5px;
    background: #FF666A;
    position: fixed;
    top: 270px; /*225px;*/
    left: 20%; /*385px;*/
}

#catesidebar {
    padding: 20px;
}

#catesidebar li {
    padding-top: 5px;
}

#disposidebar {
    padding: 20px;
}

#disposidebar li {
    padding-top: 5px;
}

#recherchesidebar {
    padding: 20px;
}

#recherchesidebar input{
    margin-top: 5px;
    padding: 5px;
}

#soumission {
    padding: 20px;
    padding-top: 0;
}


/*Container du Catalogue*/
#containerCatalogue{
    width: 80%;
    float: right;
    margin-bottom: 50px;
}

/*----------------------------------- POPUP -----------------------------------*/
#popup {
    background-color: #000;
    border: 2px solid #7586FF;
    display: none;
    left: 50%;
    margin-left: -250px;
    position: fixed;
    top: 20%;
    width: 500px;
}

#croixFermeture {
    cursor: pointer;
    float: right;
    height: 20px;
    width: 20px;
}

#popupContent {
    background: #FF666A;
    margin: 20px;
    padding: 20px;
}

/*--------------------------------- FIN POPUP ---------------------------------*/

/*Container de la barre de filtre*/
.barreFiltre{
    background: #FF666A;
    margin: 10px;
    margin-right: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 15px;
}

/*Filtres présents dans la barre de filtres*/
.filtreAffich {
    width: 50%;
    padding: 5px;
    float: left;
    clear: both;
}

/*Pagination dans la barre de filtres*/
.pagination {
    width: 50%;
    display: inline;
    padding: 5px;
    float: left;
}

.pagination li a {
    margin: 5px;
    float: left;
}    

.clearfix {
    clear: both;
}

/*Cadre de chaques post de BD*/
.BdPost {
    width: 48%;
    float: left;
    background: #FF666A;
    margin: 5px;
    padding: 5px;
}

/*Images des BDs*/
.BdPost img,
#containerPostBd img {
    height: 250px;
    max-width: 200px;
    float: left;
    margin: 10px;
    margin-right: 20px;
} 

/*Infos des BDs*/
.infos{
    margin: 10px;
    margin-right: 20px;

}

/*Titre des BDs*/
.titreBd {
    font-size: 1.3em;
    margin-top: 10px;
}

/*Auteur des BDs*/
.auteur {
    font-size: 1em;
    margin-top: 10px;
    background: #7586FF;
}

/*Coloriste des BDs*/
.coloriste {
    font-size: 1em;
    margin-top: 10px;
    background: #7586FF;
}

/*Scénariste des BDs*/
.scenariste {
    font-size: 1em;
    margin-top: 10px;
    background: #7586FF;
}

/*Si la BD est indisponible*/
.indisponible {
    font-size: 1em;
    margin-top: 10px;
    color: #000;
}

/*Si la BD est disponible*/
.disponible {
    font-size: 1em;
    margin-top: 10px;
    color:green;
}

/*Bouton détail des BDs*/
.details {
    margin-top: 10px;
    margin-left: 20px;
}

/*Bouton pour passer commande d'une BD*/
.commander {
    margin-top: 10px;
    margin-left: 20px;
}
 




/*-------------------------- FORMUALIRES -----------------------*/

/*#bdloc_appbundle_filterbookpagination {
    padding: 10px;
}

#bdloc_appbundle_filterbookpagination div {
    display: inline-block;
    text-align: right;
    width: 20%;
}

#bdloc_appbundle_filterbookpagination div label {
    display: inline-block;
}

#bdloc_appbundle_filterbookpagination input[type="text"] {
    display: inline-block;
    width: 40%;
}

#bdloc_appbundle_filterbookpagination > div:nth-child(5) {
    width: 50px;
}

#bdloc_appbundle_filterbookpagination button[type="submit"] {
    display: inline-block;
    padding: 5px;
}



#bdloc_appbundle_filterbook {
    padding: 10px;
}

#bdloc_appbundle_filterbook > div label {
    display: inline-block;
    width: 100%;
}

#bdloc_appbundle_filterbook #bdloc_appbundle_filterbook_categories > label {
    display: inline-block;
    margin: 5px 0;
    width: 120px;
}

#bdloc_appbundle_filterbook_categories > input[type="text"] {
    margin: 5px 0;
}

#bdloc_appbundle_filterbook input[type="text"] {
    display: inline-block;
    width: 50%;
}

#bdloc_appbundle_filterbook button[type="submit"] {
    display: inline-block;
    padding: 5px;
}*/

#tablePanier {
    border: 2px solid #000;
    margin: 0 50px 20px;
}

#tablePanier tr,
#tablePanier td {
    text-align: center;
    vertical-align: middle;
}

.ligne_0 {
    background-color: #fff;
}

.ligne_1 {
    background-color: #dbdedd;
}

.couvertureBDpanier {
    height: 125px;
    max-width: 100px;
    margin: 10px;
}

.titreBDpanier {
    font-size: 1.2em;
    font-weight: 700;
    padding: 0 10px;
}

.removeBDpanier {
    font-size: 1em;
    margin: 10px;
}

#validation {
    margin: auto;
    width: 40%;
}

.validerPanier,
.retourCatalogue,
.passerCommande {
    /*background: #FF666A;
    color: #7586FF;*/
    display: inline-block;
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px;
    padding: 5px;
}

#commande {
    margin: 0 20px 20px 40px;
}

#commande p {
    margin-bottom: 10px;
}

#commande #listing {
    /*visibility: hidden;*/
    display: none;
}

#listing .listeTitres {
    padding-left: 40px;
}
