


/***********************
**   FORMULAIRE       **
***********************/

.formTitle {
    margin-left: 150px;
}

/*-------------------------- REGISTER -----------------------*/

#bdloc_appbundle_register div label {
    display: inline-block;
    padding-top: 12px;
    vertical-align: top;
    text-align: right;
    width: 250px;
}

#bdloc_appbundle_register input[type="text"],
#bdloc_appbundle_register input[type="email"],
#bdloc_appbundle_register input[type="password"],
/*#bdloc_appbundle_register textarea,
#bdloc_appbundle_register select,*/
#bdloc_appbundle_register > div > div > div {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
    width: 250px;
}

#bdloc_appbundle_register > div > div,
#bdloc_appbundle_register ul {
    display: inline-block;
}

#bdloc_appbundle_register ul {
    color: #f00;
    list-style: none;
}

/*#bdloc_appbundle_register textarea {
    min-height: 100px;
}*/

#bdloc_appbundle_register button[type="submit"] {
    margin: 5px 10px 5px 260px;
    padding: 5px;
}